/* title header size */
h1,
.h1 {
  @extend .is-size-1;
}

h2,
.h2 {
  @extend .is-size-2;
}

h3,
.h3 {
  @extend .is-size-3;
}

h4,
.h4 {
  @extend .is-size-4;
}

h5,
.h5 {
  @extend .is-size-5;
}

h6,
.h6 {
  @extend .is-size-6;
}

.h7 {
  @extend .is-size-7;
}

/* toast */
.toast {
  width: 50%;
  z-index: 99999;
  position: fixed;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.toast-close-button {
  position: absolute;
  right: 0;
  top: 5px;
}

.toast-success {
  @extend .has-background-success;
}

.toast-warning {
  @extend .has-background-warning;
}

.toast-danger {
  @extend .has-background-danger;
}

.toast-info {
  @extend .has-background-info;
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
