/* title header size */
h1,
.h1 {
  @extend .is-size-1;
}

h2,
.h2 {
  @extend .is-size-2;
}

h3,
.h3 {
  @extend .is-size-3;
}

h4,
.h4 {
  @extend .is-size-4;
}

h5,
.h5 {
  @extend .is-size-5;
}

h6,
.h6 {
  @extend .is-size-6;
}

.h7 {
  @extend .is-size-7;
}

/* other class */

.login-page {
  margin: 100px 0;
  display: flex;
}

.main-img {
  bottom: 0;
  opacity: 0.2;
  position:absolute;
  right:0;
  width:25%;
  z-index: -1;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  @extend .is-size-7;
  @extend .has-text-centered;
}

.navbar > .container.nav-header {
  justify-content: center;
  align-items: center;
}

.navbar-item { 
  i, span {
    margin-right: 6px;
    margin-left: 6px;
  }
}

.navbar-brand{
  align-items: center;
}