/* title header size */
h1,
.h1 {
  @extend .is-size-1;
}

h2,
.h2 {
  @extend .is-size-2;
}

h3,
.h3 {
  @extend .is-size-3;
}

h4,
.h4 {
  @extend .is-size-4;
}

h5,
.h5 {
  @extend .is-size-5;
}

h6,
.h6 {
  @extend .is-size-6;
}

.h7 {
  @extend .is-size-7;
}

/* other class */

.login-page {
  margin: 100px 0;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.copy-right {
  @extend .has-text-centered;
  @extend .has-text-white;
  @extend .is-size-7;
}

.navbar > .container.nav-header {
  justify-content: center;
  align-items: center;
}

.navbar-item > i {
  margin-right: 6px;
}
