.color-list {
  .color-card {
    display: inline;
    margin: 0 1rem;
    .card {
      border-radius: 2px;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      display: inline-block;
      height: 130px;
      width: 100px;
      .card-content {
        height: 90px;
        padding: 0;
      }
      .card-footer {
        padding: 0 3px;
        height: 40px;
      }
    }
  }
}
