// color variables
// ponder
$pantone-classic-blue: #174b81;
$pantone-provence: #658ec6;
$pantone-baby-blue: #b5c7d3;
$pantone-monument: #83888b;
$pantone-stucco: #a58e80;
$pantone-peach-quartz: #f4b894;
$pantone-cornhusk: #f1d5ad;
// snorkel
$pantone-cashmere-blue: #a6b8d0;
$pantone-lime-punch: #c0d725;
$pantone-jasmine-green: #7fc845;
$pantone-pink-tint: #dbcbbc;
$pantone-coconut-milk: #f0ede4;
$pantone-pirate-black: #363837;
// desert twlight
$pantone-red-violet: #a35776;
$pantone-night-sky: #2a2a34;
// exotic tastes
$pantone-quicksilver: #848490;
$pantone-rhubarb: #77202f;
$pantone-mango: #b75e41;
$pantone-honey: #ba9238;
$pantone-lilac-sachet: #e9adca;
$pantone-bayberry: #255958;

// untraditional
$pantone-opal-gray: #a49e9e;
$pantone-cannoli-cream: #f1efe2;

$pantone-jet-stream: #ede6de;

$pantone-blue-depths: #263056;

// Update Bulma's global variables
$background: $pantone-monument;
$primary: $pantone-classic-blue;
$link: $pantone-provence;
$info: $pantone-cashmere-blue;
$dark: $pantone-night-sky;
$grey-dark: $pantone-pirate-black;
$grey-light: $pantone-opal-gray;
$white: $pantone-coconut-milk;
$danger: $pantone-rhubarb;
$warning: $pantone-honey;
$success: $pantone-bayberry;

// Update some of Bulma's component variables
$body-background-color: $pantone-stucco;
$control-border-width: 2px;
$input-shadow: none;
$modal-card-head-background-color: $pantone-jet-stream;
$modal-card-body-background-color: $pantone-jet-stream;
$pageloader-opacity: 0.5;

$dark-brown-color: darken($pantone-stucco, 15%);
